
*{box-sizing: border-box;

}




body {
  font-family: 'Times New Roman', Times, serif;
  color: #75B79E;
  background-color: #EEF9B7;
}


.topo h1{font-size: 56px;
  padding-top: 40px;
  text-align: center;
}


.topo {width: 100%;
     height: 17%;
     font-size: 56px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #EEF9B7;
}


.tela {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #EEF9B7;

}

.conteudo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #EEF9B7;
  padding-top: 47px;
  width: 85%;
  height: 75%;
}

.carta {
  width: 117px;
  height: 146px;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  position: relative;
  border-radius: 5px;
  margin-right: 31px;
  margin-bottom: 31px;
}
.face {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
.frente {
  background-color: #A7E9AF;
  border: solid 1 px #99CEA8;
  transform: rotateY(180deg);
}
.costas {
  border: solid 1 px #99CEA8;
  background-color: #A7E9AF;
}
.costas img {
  width: 100px;
  height: 100px;
}
.frente img {
  width: 100px;
  height: 100px;
}

.selecionado{transform:rotateY(180deg)

}
.fixa{transform:rotateY(180deg)
    
}

@media (max-width: 335px) {
.conteudo {display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 40%;
  background-color: #EEF9B7;
  padding-top: 0px;
  margin-top: 15px;

}
.carta {
  margin-right: 0;
}

.topo {width: 100%;
  height: 19%;
  font-size: 36px;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  background-color: #EEF9B7;
}

.topo h1{font-size: 36px;
  
  width: 90%;
  height: 65%;
  margin-left: 20px;
  justify-content: inherit;
  text-align: center;
}
.tela {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #EEF9B7;
}
